
.body{
  margin: 0 25% 8px ;;
  position: relative;
  min-height: 100%;
  background-color: cornsilk;
}
.footer{
  margin: 80px 0px 20px;
}
.independent-wrok{}
.independent-wrok--heading{
color: rgb(206, 87, 206);
}
.independent-wrok--content{
color: rgb(138, 12, 192);
}
.independent-wrok__literal{}
.independent-wrok__literal--heading{
  color: blue;
}
.independent-wrok__literal--content{
  color: darkblue;
}
.independent-wrok__attribute{}
.independent-wrok__attribute--heading{
color: blue;
}
.independent-wrok__attribute--content{
  color: darkblue;
}
.independent-wrok__element{}
.independent-wrok__element--heading{
  color: blue;
}
.independent-wrok__element--content{
  color: darkblue;
}
.lessons-list{}
.lessons-list__heading{
  font-family:cursive;
  color: #3f612d;
}
.lessons-list__content{
  font-family:cursive;
  color: #20493b;
}
.main{}
.main__header{}
.main__heading{
  color: #008bf8;

}

.navigaton--sticky{
  position: sticky;
  top:0px;
  background-color:cornsilk ;
  z-index: 1000;
}
.navigation{
  height: 35px;
  width: 100%;
  top: 0;

}
.navigation__link{}
.website__main{}
.website__header{}
.website__heading{}
.website__description{
  color: #3769d7;
}

.wrap-up{}
.wrap-up__heading{
  color: #3f612d ;
}
.wrap-up--image{
position: relative;
left: 25%;
z-index: 0;
}

.wrap-up__browser--heading,.wrap-up__css--heading,.wrap-up__homework--heading,
.wrap-up__html--heading,.wrap-up__js--heading,.wrap-up__layers--heading,
.wrap-up__naming--heading,.wrap-up__tool--heading,.wrap-up__interview--heading,
.independent-wrok__element--heading,.independent-wrok__literal--heading,.independent-wrok--heading,.independent-wrok__attribute--heading{
  margin-left:32px;
  margin-top: 50px;
}
.wrap-up__browser--content,.wrap-up__browser__subsection--content,.wrap-up__css--content,.wrap-up__homework--content,
.wrap-up__html--content,.wrap-up__js--content,.wrap-up__js__subsection--content,.wrap-up__layers--content,
.wrap-up__naming--content,.wrap-up__tool--content,.wrap-up__interview--content,
.independent-wrok__element--content,.independent-wrok__literal--content,.independent-wrok--content,.independent-wrok__attribute--content{
  margin:0px;
}
.wrap-up__browser{
margin: 5px 0;
}
.wrap-up__browser--heading{
  color: #01486e;
}
.wrap-up__browser--content{
  color: #6b2c39;
  overflow: hidden;
  min-width:239px ;
}
.wrap-up__browser--image{
  float: left;

}
.wrap-up__browser__subsection{
  margin: 20px 25px;
  padding: 25px;
  border:1px solid red;
}
.wrap-up__browser__subsection--heading{
  color:#7a629a;
}
.wrap-up__browser__subsection--content{
  color: #a12a31;
}
.wrap-up__css{
overflow: hidden;
}
.wrap-up__css--heading{
  color: #0bd45f;
}
.wrap-up__css--content{
  color: #067c37;
}
.wrap-up__css__image--logo{
  float: left;
  margin-right: 10px;
}
.wrap-up__homework{}
.wrap-up__homework--heading{
  color: #008bf8;
}
.wrap-up__homework--content{
  color: #3769d7;
}
.wrap-up__html{  
  overflow: hidden;
}
.wrap-up__html--heading{
  color: #f77f00;
}
.wrap-up__html--content{
  color: #e75414;
}
.wrap-up__html__image--logo{
float :right;
margin: 0 32px;
}
.wrap-up__interview{}
.wrap-up__interview--heading{
color: crimson;
}
.wrap-up__interview--content{
  color: rgb(240, 90, 120);
}
.wrap-up__js{
overflow: hidden;
}
.wrap-up__js--heading{
  color: #dc0073;
}
.wrap-up__js--content{
  color: #a52395;
}
.wrap-up__js__image--logo{
  float: right;
}
.wrap-up__js__subsection{}
.wrap-up__js__subsection--heading{
  color: #4b0fbf;
}
.wrap-up__js__subsection--content{
  color: #a52395;
}
.wrap-up__layers{}
.wrap-up__layers--heading{
  color: #01486e;
}
.wrap-up__layers--content{
  color: #6b2c39;
}
.wrap-up__naming{
  overflow: hidden;
}
.wrap-up__naming--heading{
  color: #01486e;
}
.wrap-up__naming--content{
  color: #6b2c39;
}
.wrap-up__naming--image{
  float: left;
  margin-right: 10px;
}
.wrap-up__tool{
  overflow: hidden;
}
.wrap-up__tool--heading{
  color: #01486e;
}
.wrap-up__tool--content{
  color: #6b2c39;
}
.wrap-up__tool__terminal--content{
  background-color: black;
  color: white;
}
.wrap-up__tool__image--kanban{
  box-sizing: border-box;
  float: right;
  margin: 0 32px;
}
.wrap-up__tool__image--terminal{
  float: right;
}



code{
  background-color: rgb(196, 216, 241);
}
