.special__script-content{
  background-color: rgb(34, 31, 31);
  color: white;
}
.blue{
  color: blue;
}
.peru{
  color:peru;
}
.steelblue{
  color:steelblue;
}
.seagreen{
  color:seagreen;
}
.yellow{
  color: rgba(228, 228, 147, 0.979);

}
.b{
color:peru;
}